<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">📚 BookStore</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'home') ? 'active' : '' %>"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'books') ? 'active' : '' %>"
            href="/books"
            >Books</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'authors') ? 'active' : '' %>"
            href="/authors"
            >Authors</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= (typeof activePage !== 'undefined' && activePage === 'publishers') ? 'active' : '' %>"
            href="/publishers"
            >Publishers</a
          >
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
