<% layout("layouts/boilerplate") %>
<div class="container mt-5 text-center">
  <h2 class="text-danger">Something went wrong</h2>
  <p><%= err.message || "Unexpected error occurred" %></p>
  <a href="/" class="btn btn-dark mt-3">Return to Home</a>
</div>
